*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --premery-color:#22254b;
    --secondes-color: #373b69;
    --font-color: #fff;
}
body{
display:flex;
flex-direction: column;
background-color:var(--premery-color);

}
.bloc{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.search{
    background-color:transparent;
    display:flex;
  justify-content:flex-end;
  font-size: 2vh;
  color:var(--font-color);

}
.search input{
height: 3vh;
border-radius: 50px;
border: 1px solid var(--secondes-color);
background-color: var(--secondes-color);
}

#container{
    display: flex;
    flex-direction:column;
    width: 40vh;
    position:relative;
    overflow: hidden;
    margin: 1%;
}


.titlet{
    display: flex;
    justify-content:space-between;
    padding: 2rem 1rem 1rem;
    background-color:var(--secondes-color);
    color:var(--font-color);
}
.movie{
    /* height: 100%; */
    width: 100%;
}
.overvieww{
    background-color: var(--font-color);
    position: absolute; 
    transform: translateY(101%);
    transition: transform 1s ease;
    bottom: 0;
    right: 0;
    left: 0;
}
#container:hover .overvieww{
    transform: translateY(0);
}

